.Dictaphone {
  display: flex;
  flex-direction: column;
}

.Dictaphone__holdToTalk {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-color: grey;
}

.Dictaphone__holdToTalk:active {
  background-color: green;
}